### 1. 데이터 불러오기

In [24]:
import pandas as pd
pima = pd.read_csv('./pima-indians-diabetes.csv')
pima.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [25]:
# 데이터프레임 슬라이싱
pima_data=pima.loc[:,pima.columns!="Outcome"]
pima_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [26]:
pima_outcome=pima["Outcome"]
pima_outcome.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [27]:
pima['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

### 2. Train-Test 데이터셋으로 분리

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(
    pima_data, pima_outcome, stratify=pima_outcome,
    test_size=0.2, random_state=2021
)

In [30]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 8), (154, 8), (614,), (154,))

### 3. 모델을 생성하고 학습

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
dtc = DecisionTreeClassifier(random_state=2021)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

### 4. 학습된 모델로 예측

In [33]:
pred = dtc.predict(X_test)

### 5. 예측값과 실제값을 비교하여 모델 성능을 평가

In [34]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7077922077922078

### 3-5 과정과 하이퍼 파라미터 튜닝을 동시에

In [35]:
from sklearn.model_selection import GridSearchCV

In [36]:
params = {
    'max_depth': [2, 4, 6],
    'min_samples_split': [2, 3, 4]
}

In [37]:
dtc = DecisionTreeClassifier(random_state=2021)
grid_dtc = GridSearchCV(dtc, param_grid=params, cv=3)
grid_dtc.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': [2, 4, 6],
                         'min_samples_split': [2, 3, 4]})

In [38]:
grid_dtc.best_score_

0.7443248844253149

In [39]:
grid_dtc.best_params_

{'max_depth': 2, 'min_samples_split': 2}

In [40]:
pred = grid_dtc.best_estimator_.predict(X_test)
accuracy_score(y_test, pred)

0.7337662337662337

In [41]:
pred.shape

(154,)

- 실제 값 하나를 주고 당뇨병인지 아닌지 여부를 확인

In [43]:
import numpy as np

In [45]:
estimator = grid_dtc.best_estimator_
test_data = [4,110,92,0,0,37.6,0.191,30]
predict = estimator.predict(np.array(test_data).reshape(1,8))   # shape 변경

In [46]:
predict

array([0], dtype=int64)

In [47]:
predict[0]

0

In [48]:
estimator.predict([test_data])[0]

0